html {
  background: url(../image/background-1.jpg);
  font-family: "Yu Gothic", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {
  margin: 0;
}

/* ヘッダーはフル幅 */
.site-header {
  background: url(../image/background-2.jpg);
  width: 100%;
  padding: 1rem 0;
}

/* 中身だけ中央寄せ */
.site-header > * {
  max-width: 80ch;
  margin: 0 auto;
  padding: 0 1rem;
}

/* 本文 */
.content {
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

/* ナビゲーションのスタイル */

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #f04343;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .menu {
    display: none;
  }
}