---
import Navigation from '../components/Navigation.astro';
import Menu from '../components/Menu.astro';
---

<header class="site-header">    
    <nav>
        <Menu />
        <Navigation />
    </nav>
</header>
